.slot-wrapper {
  position: relative;
  width: 10rem;
  height: 18rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $grey;
  border-radius: 16px;
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
  perspective: 1000px;
  background: linear-gradient($black-lighten 0%, $grey-darken 35%, $grey-dark 55%, $grey-darken 55%, $black 100%);
  transform: translateX(0);
  transition: transform .55s ease-in-out;

  &:not(:nth-child(1)) {
    margin-left: .3rem;
  }
.result{
  display: flex;
}
.item-result{
  margin-right: 20px;
}
  @include mq(tablet) {
    height: 18rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
}

.slot {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform .4s;

  &__cell {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 1.8;
    font-size: 10rem;
    font-weight: bold;
    color: $white;
    text-align: center;
    backface-visibility: hidden;

    @for $i from 0 through 9 {
      &:nth-child(#{$i+1}) {
        transform: rotateX($i * 36deg) translateZ(274px);
      }
    }
  }
}
