*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline-width: 0;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

img {
  vertical-align: middle;
  border-style: none;
}

ol, ul {
  list-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}
