// Colors:
$white: #ffffff;
$lightgreen: #90EE90;
$black: #000000;
$black-lighten: #090909;
$grey-darken: #111111;
$grey-dark: #444;
$grey: #777;
$pink: #e91e63;

$transition-cubic: cubic-bezier(.64,.09,.08,1);

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
